<?xml version="1.0"?>
<launch>

  <!-- Allow user to specify database location -->
  <include file="$(find panda_moveit_config)/launch/panda_control_moveit_rviz.launch">
    <arg name="robot_ip" default="192.168.13.1" />
  </include>

  <include file="$(find panda_moveit_config)/launch/ompl_planning_pipeline.launch.xml">
  </include>

  <node pkg="rxt_skills_panda" name="panda_control" type="panda_control" />
  <!-- <node pkg="rxt_skills_panda" type="ActionServer" name="ActionServer" launch-prefix="xterm -e" /> -->
  <!-- <node pkg="rxt_skills_panda" type="ActionClient" name="ActionClient" launch-prefix="xterm -e" /> -->

  <arg name="scene_file" default="$(find panda_moveit_config)/obstacle_planning_scene/base.scene"/> 
    <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>

</launch>
